<footer role="footer">
    <h1>
        <a href="/" title="avana LLC" style="color:rgb(117, 207, 219)">AUCTION</a>
    </h1>
    <nav role="footer-nav">
        <ul>
            <li>
                <a href="/" title="Work">Work</a>
            </li>
            <li>
                <a href="#" title="About">About</a>
            </li>
            <li>
                <a href="#" title="Blog">Blog</a>
            </li>
            <li>
                <a href="#" title="Contact">Contact</a>
            </li>
        </ul>
    </nav>
    <ul role="social-icons">
        <li>
            <a href="#">
                <i class="fab fa-twitter" aria-hidden="true" id="mautw"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fab fa-facebook-square" id="mauface" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fab fa-youtube" aria-hidden="true" id="mauyoutube"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="far fa-envelope" aria-hidden="true" id="mauem"></i>
            </a>
        </li>
    </ul>
    <p class="copy-right">&copy; 2015 avana LLC.. All rights Resved</p>
</footer>