        	<header role="header">
            	<div class="container">
                    	<h1>
                        	<a href="/"><i class="fab fa-docker" id="ici1"></i> Auction</a>
                        </h1>
                        <nav role="header-nav" class="navy">
                        <ul>
                            <li class="nav-active"><a href="./admin/index.html"> BOSS</a></li>
                            <li class="nav-active"><a href="/login" title="đăng nhập">Đăng nhập</a></li>
                            <li><a href="/daugiacuatui">Đấu giá của tui </a></li>
                            <li><a href="thongtinuser.html">Thông tin cá nhân</a></li>
                            <li><a href="doimatkhau.html">Đổi mật khẩu</a></li>
                            <li><a href="thoat.html">Thoát</a></li>
                        </ul>
                        </nav>
                </div>
            </header>
        <main role="main-home-wrapper" class="container">
        <div class="bs-example" data-example-id="simple-table"> 
            <table class="table"> 
                <caption>Các sản phẩm đang đấu giá</caption> 
                <thead> 
                    <tr> 
                        <th>#</th> 
                        <th>Tên sản phẩm</th> 
                        <th>Giá bạn đấu</th> 
                        <th>Giá hiện tại</th>
                        <th>Thời gian còn lại</th>
                        <th>Xoá sản phẩm</th>
                        </tr> 
                </thead> 
                <tbody> 
                    <tr> 
                        <th scope="row">1</th> 
                        <td><a href="./chitietdaugia.html"> Dày bata</a></td> 
                        <td>40k</td> 
                        <td>45k</td>
                        <td>0:22</td>
                        <td><button type="button" class="btn btn-danger">X</button></td>
                    </tr> 
                    <tr> 
                        <th scope="row">2</th> 
                        <td><a href="./chitietdaugia.html"> Balo con thỏ </a></td> 
                        <td>44k</td> 
                        <td>44k</td>
                        <td>0:24</td>
                        <td><button type="button" class="btn btn-danger">X</button></td> 
                    </tr> 
                </tbody> 
            </table> 
        </div>
        <hr>
        <div class="bs-example" data-example-id="simple-table"> 
            <table class="table"> 
                <caption>Các sản phẩm đấu giá thành công</caption> 
                <thead> 
                    <tr> 
                        <th>#</th> 
                        <th>Tên sản phẩm</th> 
                        <th>Giá</th> 
                        <th>Xoá</th> 
                        </tr> 
                </thead> 
                <tbody> 
                    <tr> 
                        <th scope="row">1</th> 
                        <td>Dao 5 món</td> 
                        <td>47k</td> 
                        <td><button type="button" class="btn btn-danger">X</button></td> 
                    </tr> 
                    <tr> 
                        <th scope="row">2</th> 
                        <td>Kéo 123</td> 
                        <td>50k</td> 
                        <td><button type="button" class="btn btn-danger">X</button></td> 
                    </tr> 
                    <tr> 
                        <th scope="row">&nbsp;</th> 
                        <td>&nbsp;</td> 
                        <td>&nbsp;</td> 
                        <td><button type="button" class="btn btn-info"> Xác nhận</button></td> 
                    </tr> 
                </tbody> 
            </table> 
        </div>
        <hr>
        <div class="bs-example" data-example-id="simple-table"> 
            <table class="table"> 
                <caption>Lịch sử giao dịch</caption> 
                <thead> 
                    <tr> 
                        <th>#</th> 
                        <th>Tên sản phẩm</th> 
                        <th>Giá</th> 
                        </tr> 
                </thead> 
                <tbody> 
                    <tr> 
                        <th scope="row">1</th> 
                        <td>BSC</td> 
                        <td>20k</td> 
                    </tr> 
                    <tr> 
                        <th scope="row">2</th> 
                        <td>OMO</td> 
                        <td>60k</td>
                    </tr> 
                   
                </tbody> 
            </table> 
        </div>
    </main>
        <footer role="footer">
                <h1>
                    <a href="index.html" title="avana LLC" style="color:rgb(117, 207, 219)">AUCTION</a>
                </h1>
            <nav role="footer-nav">
            	<ul>
                	<li><a href="index.html" title="Work">Work</a></li>
                    <li><a href="about.html" title="About">About</a></li>
                    <li><a href="#" title="Blog">Blog</a></li>
                    <li><a href="lienhechungtoi.html" title="Contact">Contact</a></li>
                </ul>
            </nav>
            <ul role="social-icons">
            	<li><a href="#"><i class="fab fa-twitter" aria-hidden="true" id="mautw"></i></a></li>
                <li><a href="#" ><i class="fab fa-facebook-square" id="mauface" aria-hidden="true" ></i></a></li>
                <li><a href="#"><i class="fab fa-youtube" aria-hidden="true" id="mauyoutube"></i></a></li>
                <li><a href="#"><i class="far fa-envelope" aria-hidden="true" id="mauem"></i></a></li>
            </ul>
            <p class="copy-right">&copy; 2015  avana LLC.. All rights Resved</p>
        </footer>