 {{> header }}
<main role="main-home-wrapper" class="container">
    <div class="row">
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
            <article role="pge-title-content">
                <header>
                    <h2>
                        <span>Đấu giá</span> Tận hưởng thú vui của đấu giá.</h2>
                </header>
                <p>Thể hiện tài năng và khả năng suy đoán của chính mình.</p>
            </article>
        </section>
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
            <figure class="effect-oscar">
                <img src="images/home-images/image-1.jpg" alt="" class="img-responsive" />
                <figcaption>
                    <h3>Sản phẩm
                        <span> 1 </span>
                    </h3>
                    <h3>Thời gian còn lại:
                        <span class="thoigianconlai"> 0:10:00</span>
                    </h3>
                    <p>Thông tin cơ bản sản phẩm 1</p>
                    <p>Giá hiện tại:
                        <span class="giatien">4K</span>
                    </p>
                    <p>Click để đấu giá</p>
                    <a href="/chitiet">View more</a>
                </figcaption>
            </figure>
        </section>
        <div class="clearfix"></div>
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
            <ul class="grid-lod effect-2" id="grid">
                <li>
                    <figure class="effect-oscar">
                        <img src="images/home-images/image-2.jpg" alt="" class="img-responsive" />
                        <figcaption>
                            <h3>Sản phẩm
                                <span> 1 </span>
                            </h3>
                            <h3>Thời gian còn lại:
                                <span class="thoigianconlai"> 0:10:00</span>
                            </h3>
                            <p>Thông tin cơ bản sản phẩm 1</p>
                            <p>Giá hiện tại:
                                <span class="giatien">4K</span>
                            </p>
                            <p>Click để đấu giá</p>
                            <a href="/chitiet">View more</a>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </section>
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
            <ul class="grid-lod effect-2" id="grid">
                <li>
                    <figure class="effect-oscar">
                        <img src="images/home-images/image-3.jpg" alt="" class="img-responsive" />
                        <figcaption>
                            <h3>Sản phẩm
                                <span> 1 </span>
                            </h3>
                            <h3>Thời gian còn lại:
                                <span class="thoigianconlai"> 0:10:00</span>
                            </h3>
                            <p>Thông tin cơ bản sản phẩm 1</p>
                            <p>Giá hiện tại:
                                <span class="giatien">4K</span>
                            </p>
                            <p>Click để đấu giá</p>
                            <a href="/chitiet">View more</a>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </section>
        <div class="clearfix"></div>
    </div>
</main>
{{> footer}}