#ici1 {
    color: black;
}

a:hover {
    text-decoration: none;
}

.giatien {
    color: red;
}

.thoigianconlai {
    color: blue;
}

#mauface {
    color: #4267B2;
}

#mauyoutube {
    color: #FF0000;
}

#mautw {
    color: #36B6D9;
}

#mauem {
    color: #DD5144;
}

.dn {
    float: right;
    font-size: 16pt;
}

.dk {
    color: #36B6D9;
}