      <header role="header">
        <div class="container">
            <h1>
                <a href="/"><i class="fab fa-docker" id="ici1"></i> Auction</a>
            </h1>
                <nav role="header-nav" class="navy">
                    <ul>
                        <li class="nav-active"><a href="./admin/index.html"> BOSS</a></li>
                        <li class="nav-active"><a href="/login" title="đăng nhập">Đăng nhập</a></li>
                        <li><a href="/daugiacuatui">Đấu giá của tui </a></li>
                        <li><a href="thongtinuser.html">Thông tin cá nhân</a></li>
                        <li><a href="doimatkhau.html">Đổi mật khẩu</a></li>
                        <li><a href="thoat.html">Thoát</a></li>
                    </ul>
                </nav>
                </div>
                <div class="container" style="margin-top:10px">
                    <div class="row">
                        <form role="search">
                            <div class="form-group col-sm-6 col-md-offset-3">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="button" class="btn btn-info"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </header>
        <main role="main-home-wrapper" class="container">
            <div class="row">
            	<section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                	<article role="pge-title-content">
                    	<header>
                        	<h2><span>Đấu giá</span> Tận hưởng thú vui của đấu giá.</h2>
                        </header>
                        <p>Thể hiện tài năng và khả năng suy đoán của chính mình.</p>
                    </article>
                </section>
                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
                	<figure class="effect-oscar">
                    	<img src="images/home-images/image-1.jpg" alt="" class="img-responsive"/>
                        <figcaption>
                        	<h3>Sản phẩm <span> 1 </span></h3>
                            <h3>Thời gian còn lại: <span class="thoigianconlai"> 0:10:00</span></h3>
							<p>Thông tin cơ bản sản phẩm 1</p>
                            <p>Giá hiện tại: <span class="giatien">4K</span></p>
                            <p>Click để đấu giá</p>
							<a href="chitietdaugia.html">View more</a>
                        </figcaption>
                    </figure>
                </section>
                <div class="clearfix"></div>
                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
                	<ul class="grid-lod effect-2" id="grid">
                    	<li>
                        	<figure class="effect-oscar">
                            <img src="images/home-images/image-2.jpg" alt="" class="img-responsive"/>
                            <figcaption>
                                <h3>Sản phẩm <span> 1 </span></h3>
                                <h3>Thời gian còn lại: <span class="thoigianconlai"> 0:10:00</span></h3>
							    <p>Thông tin cơ bản sản phẩm 1</p>
                                <p>Giá hiện tại: <span class="giatien">4K</span></p>
                                <p>Click để đấu giá</p>
							    <a href="chitietdaugia.html">View more</a>
                            </figcaption>
                        </figure>
                        </li>
                    </ul>
                </section>
                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
                	<ul class="grid-lod effect-2" id="grid">
                    	<li>
                           	<figure class="effect-oscar">
                            <img src="images/home-images/image-3.jpg" alt="" class="img-responsive"/>
                            <figcaption>
                                <h3>Sản phẩm <span> 1 </span></h3>
                                <h3>Thời gian còn lại: <span class="thoigianconlai"> 0:10:00</span></h3>
							    <p>Thông tin cơ bản sản phẩm 1</p>
                                <p>Giá hiện tại: <span class="giatien">4K</span></p>
                                <p>Click để đấu giá</p>
							    <a href="chitietdaugia.html">View more</a>
                            </figcaption>
                            </figure>
                        </li>
                    </ul>
                </section>
                <div class="clearfix"></div>
            </div>
        </main>
        <footer role="footer">
            <h1>
                <a href="/" title="avana LLC" style="color:rgb(117, 207, 219)">AUCTION</a>
            </h1>
            <nav role="footer-nav">
            	<ul>
                	<li><a href="/" title="Work">Work</a></li>
                    <li><a href="#" title="About">About</a></li>
                    <li><a href="#" title="Blog">Blog</a></li>
                    <li><a href="#" title="Contact">Contact</a></li>
                </ul>
            </nav>
            <ul role="social-icons">
            	<li><a href="#"><i class="fab fa-twitter" aria-hidden="true" id="mautw"></i></a></li>
                <li><a href="#" ><i class="fab fa-facebook-square" id="mauface" aria-hidden="true" ></i></a></li>
                <li><a href="#"><i class="fab fa-youtube" aria-hidden="true" id="mauyoutube"></i></a></li>
                <li><a href="#"><i class="far fa-envelope" aria-hidden="true" id="mauem"></i></a></li>
            </ul>
            <p class="copy-right">&copy; 2015  avana LLC.. All rights Resved</p>
        </footer>
